* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #004aad;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.secao {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


.secao li {
    background-color: #ffffff;
    border: 2px solid #004aad;
    border-radius: 12px;
    padding: 15px 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

.secao li:hover {
    transform: scale(1.03);
}


.secao a {
    text-decoration: none;
    color: #004aad;
    font-weight: bold;
    font-size: 1.1rem;
}

.secao a:hover {
    color: #d60000;
}